.frametext {
        width: 100%;
        height: 20%;
        box-shadow: 16px 14px 20px #0000008c;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
}


.gradient {
    background: linear-gradient(-45deg, #cb1ce6, #e6841c, #7de61c);
    background-size: 400% 400%;
    animation: gradient-bg 60s ease infinite;
    height: 100vh;
    overflow: hidden;
}

@keyframes gradient-bg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}